<a href="https://colab.research.google.com/github/apla14/hello-world/blob/master/M2_eksam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
install.packages("pacman")
install.packages("tidyverse")
library(pacman)
library(tidyverse)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.2.1     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [0]:
SMSspam=read_delim("https://raw.githubusercontent.com/apla14/hello-world/master/SpamSms", 
    ";",escape_double = FALSE, col_names = FALSE, 
    trim_ws = TRUE)

Parsed with column specification:
cols(
  X1 = col_character(),
  X2 = col_character()
)
Warning message:
“7 parsing failures.
 row col  expected     actual                                                                  file
1129  -- 2 columns 3 columns  'https://raw.githubusercontent.com/apla14/hello-world/master/SpamSms'
1442  -- 2 columns 3 columns  'https://raw.githubusercontent.com/apla14/hello-world/master/SpamSms'
2371  -- 2 columns 3 columns  'https://raw.githubusercontent.com/apla14/hello-world/master/SpamSms'
2435  -- 2 columns 15 columns 'https://raw.githubusercontent.com/apla14/hello-world/master/SpamSms'
3053  -- 2 columns 3 columns  'https://raw.githubusercontent.com/apla14/hello-world/master/SpamSms'
.... ... ......... .......... .....................................................................
See problems(...) for more details.
”

In [0]:
SMSspam %<>% mutate(ID=rownames(SMSspam)) %>% select(ID,X1,X2) 
SMSspam %<>% mutate(ham_spam=X1) %>% mutate(SMS=X2) %>% select(-X1,-X2)
SMSspam %>% head()

  ID ham_spam
1 1  ham
2 2  ham
3 3  spam
4 4  ham
5 5  ham
6 6  spam
  SMS
1 Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
2 Ok lar... Joking wif u oni...
3 Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
4 U dun say so early hor... U c already then say...
5 Nah I don't think he goes to usf, he lives around here though
6 FreeMsg Hey there darling it's been 3 week's now and no word back! I'd like some fun you up for it still? Tb ok! XxX std chgs to send, £1.50 to rcv

In [0]:
pacman::p_load(tidytext, tm)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependencies ‘SnowballC’, ‘ISOcodes’, ‘hunspell’, ‘tokenizers’, ‘janeaustenr’, ‘stopwords’


tidytext installed
Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)
also installing the dependencies ‘NLP’, ‘slam’


tm installed

In [0]:
data = SMSspam %>% unnest_tokens(word,SMS)
data %>% head()
data %>% group_by(word) %>% count() %>% arrange(desc(n)) %>% head(20)

  ID ham_spam word
1 1  ham      go
2 1  ham      until
3 1  ham      jurong
4 1  ham      point
5 1  ham      crazy
6 1  ham      available

   word n
1  i    2300
2  to   2249
3  you  2149
4  a    1448
5  the  1335
6  u    1183
7  and   979
8  in    900
9  is    892
10 me    800
11 my    763
12 for   708
13 your  679
14 it    643
15 of    621
16 call  588
17 have  574
18 on    538
19 that  522
20 2     513

In [0]:
own_stopwords = tibble(word = c("gt","lt","ü","2","4"), lexicon="OWN")
data= data %>% anti_join(stop_words%>% bind_rows(own_stopwords),by="word") %>% mutate(word=wordStem(word))
data %>% group_by(word) %>% count() %>% arrange(desc(n)) %>% head(4000)

     word              n
1    call              588
2    ur                391
3    free              282
4    day               219
5    time              218
6    love              207
7    send              196
8    text              193
9    txt               174
10   home              163
11   lor               162
12   stop              160
13   da                149
14   reply             147
15   dont              146
16   mobile            142
17   pls               126
18   phone             125
19   week              122
20   dear              119
21   1                 117
22   night             117
23   claim             113
24   hey               112
25   hope              111
26   happy             108
27   msg               106
28   wat                99
29   3                  96
30   message            92
⋮    ⋮                 ⋮
3971 08717509990       1
3972 08717890890       1
3973 08717895698       1
3974 08718711108       1
3975 08718723815       1
3976 08718725756       1
3977 08718726970       1
3978 08718726971       1
3979 08718726978       1
3980 087187272008      1
3981 08718727870150ppm 1
3982 08718730555       1
3983 08718738002       1
3984 08718738034       1
3985 08719180219       1
3986 08719181259       1
3987 08719181503       1
3988 08719839835       1
3989 08719899217       1
3990 08719899229       1
3991 08719899230       1
3992 09041940223       1
3993 09050000301       1
3994 09050000332       1
3995 09050000460       1
3996 09050000555       1
3997 09050000878       1
3998 09050000928       1
3999 09050001295       1
4000 09050005321       1

In [0]:
dtm = data %>%  count(ID, word) %>% cast_dtm(document =ID, term = word, value = n, weighting = tm::weightTf)

dtm

dtm %>% removeSparseTerms(sparse = .99)
dtm %>% removeSparseTerms(sparse = .999)
dtm %>% removeSparseTerms(sparse = .9999)

<<DocumentTermMatrix (documents: 5451, terms: 8581)>>
Non-/sparse entries: 35412/46739619
Sparsity           : 100%
Maximal term length: 42
Weighting          : term frequency (tf)

<<DocumentTermMatrix (documents: 5451, terms: 64)>>
Non-/sparse entries: 6914/341950
Sparsity           : 98%
Maximal term length: 8
Weighting          : term frequency (tf)

<<DocumentTermMatrix (documents: 5451, terms: 1194)>>
Non-/sparse entries: 23404/6485090
Sparsity           : 100%
Maximal term length: 17
Weighting          : term frequency (tf)

<<DocumentTermMatrix (documents: 5451, terms: 8581)>>
Non-/sparse entries: 35412/46739619
Sparsity           : 100%
Maximal term length: 42
Weighting          : term frequency (tf)

NLP
- EDA / simple frequency-based analysis
- Simple vectorization (BoW, Tf-idf)
- Topic modelling / Clustering (LDA / LSA)
- Embedding-model based vectorization (Word2Vec, Fasttext, GloVe)

In [0]:
twit_IDF <- data %>% 
  count(ID, word, sort = TRUE) %>% 
  bind_tf_idf(word, ID, n)

twit_IDF %>% 
  head()

  ID   word    n  tf    idf      tf_idf
1 3018 happy   15 0.300 4.149207 1.2447621
2 1141 missing  6 0.500 5.713183 2.8565913
3 1354 ur       6 0.375 2.866982 1.0751183
4 1471 ur       6 0.240 2.866982 0.6880757
5 1780 ur       6 0.240 2.866982 0.6880757
6 2983 ur       6 0.240 2.866982 0.6880757

In [0]:
pacman::p_load(quanteda)

In [0]:
#document - feature - matrix 
sms_dfm <-data %>%
count(ID, word) %>%
cast_dfm(document =ID, term =word, value =n)
spam_dfm

Document-feature matrix of: 5,451 documents, 8,581 features (99.9% sparse).

In [0]:
sms_lsa <-sms_dfm %>%
textmodel_lsa(nd =5)
sms_lsa %>% glimpse()

List of 5
 $ sk             : num [1:5] 31.8 27.2 22.5 21.9 18.7
 $ docs           : num [1:5451, 1:5] -1.35e-03 -5.80e-02 -1.68e-04 -1.79e-02 -8.13e-05 ...
  ..- attr(*, "dimnames")=List of 2
  .. ..$ : chr [1:5451] "1" "10" "100" "1000" ...
  .. ..$ : NULL
 $ features       : num [1:8581, 1:5] -4.26e-05 -5.37e-05 -8.21e-04 -6.31e-04 -4.30e-03 ...
  ..- attr(*, "dimnames")=List of 2
  .. ..$ : chr [1:8581] "amore" "buffet" "bugis" "cine" ...
  .. ..$ : NULL
 $ matrix_low_rank: num [1:5451, 1:8581] 2.80e-05 -2.26e-04 1.41e-06 1.46e-04 1.55e-06 ...
  ..- attr(*, "dimnames")=List of 2
  .. ..$ : chr [1:5451] "1" "10" "100" "1000" ...
  .. ..$ : chr [1:8581] "amore" "buffet" "bugis" "cine" ...
 $ data           :Formal class 'dgCMatrix' [package "Matrix"] with 6 slots
  .. ..@ i       : int [1:35412] 0 0 3160 0 383 715 1141 1841 2673 4409 ...
  .. ..@ p       : int [1:8582] 0 1 3 10 17 31 32 39 134 167 ...
  .. ..@ Dim     : int [1:2] 5451 8581
  .. ..@ Dimnames:List of 2
  .. ..@ x       : num [1:35412] 1 1 1 1 1 1 1 1 1 1 ...
  .. ..@ factors : list()
 - attr(*, "class")= chr "textmodel_lsa"

In [0]:
sms_lsa_loading <-sms_lsa$docs %>%as.data.frame() %>%rownames_to_column(var ="ID") %>%as_tibble()
sms_lsa_loading %>%head()

  ID   V1            V2            V3            V4            V5
1 1    -1.354765e-03  1.935459e-03  0.0017760980  5.768992e-04  0.0043508896
2 10   -5.798690e-02 -2.722002e-02 -0.0632076999  1.612564e-02 -0.0342390821
3 100  -1.677729e-04 -1.207159e-05 -0.0002463875  2.315721e-04  0.0003467495
4 1000 -1.788944e-02  2.871286e-02  0.0082208261 -7.742069e-03  0.0129199322
5 1001 -8.133671e-05 -1.070836e-05 -0.0001499093  1.450893e-04  0.0003768479
6 1002 -3.369026e-04  3.749962e-04  0.0003191993 -5.398799e-05  0.0007681002

In [0]:
pacman::p_load(topicmodels)
lda = dtm %>%   LDA(k = 2, method = "Gibbs", control = list(seed = 1337))


lda_beta <- lda %>%
  tidy(matrix = "beta") %>%
  group_by(topic) %>%
  arrange(topic, desc(beta)) %>%
  slice(1:10) %>%
  ungroup()

lda_beta %>% head()

lda_beta %>%
  mutate(term = reorder_within(term, beta, topic)) %>%
  group_by(topic, term) %>%
  arrange(desc(beta)) %>%
  ungroup() %>%
  ggplot(aes(term, beta, fill = as.factor(topic))) +
  geom_col(show.legend = FALSE) +
  coord_flip() +
  scale_x_reordered() +
  labs(title = "Top 10 terms in each LDA topic",
       x = NULL, y = expression(beta)) +
  facet_wrap(~ topic, ncol = 2, scales = "free")

In [0]:
lda_gamma <- lda %>%
  tidy(matrix = "gamma")

lda_gamma %>% head()

lda_gamma %>%
  ggplot(aes(gamma)) +
  geom_histogram() +
  scale_y_log10() +
  labs(title = "Distribution of probabilities for all topics",
       y = "Number of documents", x = expression(gamma))


lda_gamma %>%
  ggplot(aes(gamma, fill = as.factor(topic))) +
  geom_histogram(show.legend = FALSE) +
  facet_wrap(~ topic, ncol = 2) +
  scale_y_log10() +
  labs(title = "Distribution of probability for each topic",
       y = "Number of documents", x = expression(gamma))


top_topics <- tweets_lda %>%
  tidy(matrix = "gamma")  %>%
  group_by(document) %>%
  top_n(1, wt = gamma) %>%
  ungroup()

top_topics %>%
  count(topic)